player-connection-mode=Listen
player-connection-guid=750653078
player-connection-debug=0
player-connection-project-name=UnityProject1
player-connection-ip=172.22.224.1
player-connection-ip=192.168.0.10
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c8631720be6849bc9191b1685088d054
